@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-main-bg: hsl(217, 54%, 11%);
  --dark-blue-card-bg: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--dark-blue-main-bg);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  place-content: center;
}

.container {
  background: var(--dark-blue-card-bg);
  max-width: 22rem;
  padding: 1.275rem;
  border-radius: 10px;
}

.nft-img-container {
  border-radius: 8px;
  overflow: hidden;
}

.nft-img-container img {
  max-width: 100%;
  display: block;
}

.title {
  color: var(--white);
  font-size: 1.275rem;
  font-weight: 600;
  margin-block: 1.425rem;
}

.text {
  color: var(--soft-blue);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1.425rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.flex .flex-1:first-child span {
  color: var(--cyan);
  font-weight: 600;
}

.flex .flex-1:last-child span {
  color: var(--soft-blue);
  font-size: 0.875rem;
}

hr {
  color: var(--dark-blue-line);
  margin-block: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.avatar-container {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.avatar-container img {
  width: 100%;
}

.grid p {
  color: var(--white);
  font-size: 0.875rem;
  margin-left: 1rem;
  font-weight: 600;
}

.grid p span {
  color: var(--soft-blue);
  font-weight: 300;
}
